---
import Section from "./Section.astro";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description,  name } = Astro.props;
---

<Section text="About Me"  href="about">
  <div class="flex flex-col items-center gap-12 md:flex-col md:gap-8 ">
    {
      description.map(line => 
      <p class="w-auto text-base text-neutral md:pr-5 text-slate-700">{line}</p>       
      )
    }
    </div>
  </div>
</Section>
