---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary} = Astro.props;
---

<section class="py-24 md:py-32" id="#hero">
  <h1
    class="mb-1.5 font-serif text-7xl font-bold tracking-tightest text-emerald-800 sm:text-8xl md:mb-0 md:text-9xl"
  >
    {name}
  </h1>
  <p
    class="mb-9 font-serif text-4xl leading-[46px] font-bold tracking-tighter text-primary sm:text-5xl"
  >
    {specialty}
  </p>
  <p class="mb-16  text-xl font-normal text-slate-700 ">
    {summary}
  </p>
</section>
